.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
    background-image: url();
}
input{
    padding: 15px;
    margin: 10px 0px;
}
form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}
h1{
    color: rgb(182, 44, 182);
    text-align: center;
}
button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(133, 69, 133);
    margin-bottom: 13px;
    margin-top: 13px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.forminput{
    display: flex;
    flex-direction: column;
    width: 280px;
}
input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid grey;
}
label{
    font-size: 12px;
    color: gray;
}
span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}
input:invalid[focused="true"] ~ span{
    display: block;
}
/* input:invalid[focused="true"] ~ span{
   border: 1px solid red;
} */