
body {
    background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../src/Components/Images/bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}